html, body {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}

body{
	background-image:url(../images/bg.jpg);
}

@font-face {
    font-family: Pricedown Bl;
    src: url(pricedownbl.ttf);
}
div#body{
	width: 100%;
	padding: 0;
	margin: 50px 0;
}
div.panel{
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #666;
    margin: 0;
    outline: medium none;
	border: none;
	border-radius: 0;
	background: none;
}
div.panel-header{
	width: 100%;
	background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    display: block;
    font-size: 25px;
    padding: 10px 30px;
    text-align: center;
}
div.panel-body{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: medium none;
    display: block;
    padding: 25px 30px 5px;
}
div.panel-body .row{
	margin-top: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
div.panel-body .row:first-child{
	margin-top: 0;
}
div.panel-footer{
	background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding: 15px 30px 25px;
}
.button2 {
    background: none repeat scroll 0 0 rgba(255, 165, 0, 0.7);
    transition: background 0.8s ease 0s;
	border: 0 none;
    color: #fff;
    cursor: pointer;
    font: 300 15px/39px "Open Sans",Helvetica,Arial,sans-serif;
    height: 39px;
    margin: 10px 0 0 20px;
    outline: medium none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
	display: block;
	float: right;
    text-decoration: none;
}
.button2:hover{
	background: none repeat scroll 0 0 rgba(255, 165, 0, 1);
}
.button {
    background: none repeat scroll 0 0 rgba(14, 51, 97, 1);
transition: background 0.8s ease 0s;
border: 0 none;
color: #FFF;
cursor: pointer;
height: 39px;
margin: 10px 0 0 20px;
outline: medium none;
overflow: hidden;
padding: 0 25px;
position: relative;
display: block;
float: right;
text-decoration: none;
border-radius: 4px;
}
.button:hover{
	background: none repeat scroll 0 0 rgba(11, 26, 45, 1);
}
code.command {
	color: #fff; 
	font-weight: bold; 
	background-color:#000;
	font-family: monospace;
	display: inline-block;
	margin: 6px 6px 6px 6px;
	padding: 12px 12px 12px 12px;
	border-style: solid;
	border-width: thin;
	border-color: black;
	width: 100%;
	min-height: 400px;
}


.orangebtn {
    background: none repeat scroll 0 0 rgba(255, 165, 0, 0.7);
    transition: background 0.8s ease 0s;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font: 300 15px/39px "Open Sans",Helvetica,Arial,sans-serif;
    height: 39px;
    margin: 10px 0 0 0px;
    outline: medium none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    display: block;
    
    text-decoration: none;
}
.orangebtn:hover{
    background: none repeat scroll 0 0 rgba(255, 165, 0, 1);
}
.titlu_font {
font-family: Pricedown Bl;
font-size: 20px;
font-weight: 100;
}
#gems {
display: block;
box-sizing: border-box;
-moz-box-sizing: border-box;
width: 100%;
outline: none;
border-width: 2px;
border-style: solid;
border-radius: 0;
background: #fff;
-moz-appearance: none;
-webkit-appearance: none;
border: 1px solid #ccc;
padding: 4px 10px;
font-size: 14px;
color: #555;
border-radius: 4px;
}